/*
Theme Name: Churchope
Version: 3.0.4
Theme URI: http://churchope.themoholics.com/
Description: Premium WordPress theme that is perfect for churches and business websites, but also suits well for any other needs.
Author: themoholics
Author URI: http://themoholics.com/
License URI: http://themeforest.net/wiki/support/legal-terms/licensing-terms/
Tags: red, white, gray, two-columns, fixed-layout, threaded-comments, translation-ready, custom-menu, responsive-layout
*/

.row .row {
	display: table;
	width: 100%;
}

#jcyclemain {
	background-image: url("http://beta.naaapseattle.org/wp-content/uploads/2016/04/Optimized-Seattle_5.jpg");
	background-size: 100% 100%;
}

#color_header {
	background-image: url("http://beta.naaapseattle.org/wp-content/uploads/2016/04/Optimized-Seattle_5.jpg");
	background-size: 100% 100%;
}

#color_header .mainmenu {
  	background-color: gray;
}

#color_header .mainmenu > .mainmenu_inner > .row > .grid_12 > nav.main_menu > #menu-main {
	margin: 0 auto;
    	display: table;
}

#color_header .mainmenu > .mainmenu_inner > .row > .grid_12 { 
	width: 928px;
    	margin: 0 16px 0 16px;
    	float: left;
    	display: inline;
    	position: relative;
}

#color_header .mainmenu > .mainmenu_inner > .row > .grid_12 > nav.main_menu {
	float: none !important;
}

#authorbox {
	display:none;
}

#respond {
	display:none;
}

.wpjb-boxes-group:nth-of-type(1) {
	display:none;
}

.wpjb-box.wpjb-layer-inside:nth-of-type(1),
.wpjb-box.wpjb-layer-inside:nth-of-type(2),
.wpjb-box.wpjb-layer-inside:nth-of-type(3) {
	display: none;
}

.wpjb-form-actions > a {
	display:none;
}
